<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recent Records</title>
  </head>
  <body>
    <h1>Most Recent 50 Dectections</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Detection Time</th>
        <th>Detection Index</th>
        <th>Score</th>
        <th>Display Name</th>
        <th>Common Names</th>
        <th>Category Name</th>
        <th>Image</th>
      </tr>
      {% for record, commonnames in zipped_data %}
      <tr>
        <td>{{ record[0] }}</td>
        <td>{{ record[1] }}</td>
        <td>{{ record[2] }}</td>
        <td>{{ record[3] }}</td>
        <td>{{ record[4] }}</td>
        <td>{{'<br>'.join(commonnames)|safe}}</td>
        <td>{{ record[5] }}</td>
        <td>
          <img src="data:image/jpeg;base64,{{ record[6] }}" alt="Image" width="200" />
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
